{% extends 'base.html' %}

{% block title %}Create Cabin{% endblock %}

{% block content %}
    <h1>Create Cabin</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="boat">Boat:</label>
        <select name="boat" id="boat">
            {% for boat in boats %}
            <option value="{{ boat.id }}">{{ boat.name }}</option>
            {% endfor %}
        </select><br>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>

        <label for="cabin_no">Cabin No:</label>
        <input type="text" name="cabin_no" id="cabin_no"><br>

        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea><br>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" step="0.01"><br>

        <label for="length">Length:</label>
        <input type="number" name="length" id="length" step="0.01"><br>

        <label for="width">Width:</label>
        <input type="number" name="width" id="width" step="0.01"><br>

        <label for="height">Height:</label>
        <input type="number" name="height" id="height" step="0.01"><br>

        <button type="submit">Create</button>
    </form>
{% endblock %}
