{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
    <script>
        const setTheme = (theme) => {
            theme ??= localStorage.theme || "light";
            document.documentElement.dataset.theme = theme;
            localStorage.theme = theme;
        };
        setTheme();
    </script>
    <meta logo="{% static 'images/logo/logo.png' %}">
    <meta white-logo="{% static 'images/logo/logo-white.png' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello - Multipurpose travel and tour booking. This template is suitable for travel agency, tour, travel website, tour operator, tourism, booking trip or adventure website.">
    <meta name="keywords" content="travel, trip booking, tour, hotel, tour guide, tourism, blog, flight, travel agency, tourism agency, accommodation, tour website">
    <meta name="author" content="inittheme">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Multipurpose travel and tour booking">
    <meta property="og:site_name" content="Travello">
    <meta property="og:url" content="https://inittheme.com">
    <meta property="og:image" content="{% static 'images/selfie.jpg' %}">
    <meta property="og:description" content="Multipurpose travel and tour booking, multipurpose template">
    <meta name="twitter:title" content="Multipurpose travel and tour booking">
    <meta name="twitter:description" content="Multipurpose travel and tour booking, multipurpose template">
    <meta name="twitter:image" content="https://twitter.com/inittheme/photo">
    <meta name="twitter:card" content="summary">
    <!-- Google site verification -->
    <meta name="google-site-verification" content="...">
    <meta name="facebook-domain-verification" content="...">
    <meta name="csrf-token" content="...">
    <meta name="currency" content="$">
    <!-- Title -->
    <title>Multipurpose travel and tour booking</title>
    <link rel="icon" type="image/x-icon" sizes="20x20" href="{% static 'images/icon/favicon.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.3.0.min.css' %}">
    <!-- Fonts & icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts-icon.css' %}">
    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-style.css' %}">
    <!-- RTL CSS::When Need RTL Uncomments File -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}"> -->
</head>
<body>
    <header class="header-area-three">
        <div class="main-header">
            <!-- Header Top -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="top-menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="logo">
                                    <a href="{% url 'dashboard' %}"><img src="{% static 'images/logo/logo_.png' %}" alt="logo" class="changeLogo" width="130"></a>
                                </div>
                                
                                <!-- search box -->
                                <div class="search-box search-bar d-none d-lg-block">
                                    <div class="header-search">
                                        <span class="pera">Find Your Boat</span>
                                        <div class="search-icon">
                                            <i class="ri-search-line"></i>
                                        </div>
                                        <kbd class="light-text">
                                            <abbr title="Ctrl">Ctrl +</abbr> k
                                        </kbd>
                                    </div>
                                </div>
                                <!-- Top Left Side -->
                                <!-- Logo-->
                                
                                <div class="header-right-three pl-15 d-none d-lg-flex">
                                    <div class="lang">
                                        <i class="ri-global-line"></i>
                                        <p class="pera">English</p>
                                    </div>
                                    <div class="divider gradient-divider"></div>
                                    <div class="d-flex gap-20 align-items-center">
                                        <a href="tour-cart-page.html" class="cart signin">
                                            <i class="ri-shopping-cart-line"></i>
                                        </a>
                                        <div class="sign-btn">
                                            <a href="{% url 'signup' %}" class="btn-secondary-sm radius-30">Sign Up</a>
                                        </div>
                                        <!-- Theme Mode -->
                                        <button class="ToggleThemeButton change-theme-mode m-0 p-0 border-0">
                                            <i class="ri-sun-line"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Mobile Device Search & Theme Mode -->
                                <div class="search-header-position d-block d-lg-none">
                                    <div class="d-flex gap-15">
                                        <div class="search-bar">
                                            <a href="javascript:void(0)" class="rounded-btn">
                                                <i  class="ri-search-line"></i>
                                            </a>
                                        </div>
                                        <!-- Theme Mode -->
                                        <button class="ToggleThemeButton change-theme-mode m-0 p-0 border-0">
                                            <i class="ri-sun-line"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- / Mobile Device Search & Theme Mode-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom -->
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="menu-wrapper">
                                <!-- Main-menu for desktop -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <ul class="listing" id="navigation">
                                                <li class="single-list">
                                                    <a href="javascript:void(0)" class="single">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="single-list">
                                                    <a href="{% url 'boat_list' %}" class="single">
                                                        Boats
                                                    </a>
                                                </li>
                                                <li class="single-list">
                                                    <a href="javascript:void(0)" class="single">
                                                        Policy
                                                    </a>
                                                </li>
                                                <li class="single-list">
                                                    <a href="javascript:void(0)" class="single">
                                                        Contact
                                                    </a>
                                                </li>
                                                <li class="d-block d-lg-none">
                                                    <div class="header-right-three pl-15 mt-10">
                                                        <div class="sign-btn">
                                                            <a href="login.html" class="btn-secondary-sm m-0">Sign In</a>
                                                        </div>
                                                        <div class="d-flex align-items-center gap-12">
                                                            <div class="lang">
                                                                <i class="ri-global-line"></i>
                                                                <p class="pera">English</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            
                                        <div class="top-menu-wrapper d-flex align-items-center justify-content-between">

                                            <div class="top-header-right">
                                                <div class="contact-section">
                                                    <div class="circle-primary-sm">
                                                        <i class="ri-phone-line"></i>
                                                    </div>
                                                    <div class="info">
                                                        <p class="pera">Call Anytime</p>
                                                        <h4 class="title">
                                                            <a href="javascript:void(0)">+880 1400913327</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="div">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search box -->
        <div class="search-container">
            <div class="top-section">
                <div class="search-icon">
                    <i class="ri-search-line"></i>
                </div>
                <div class="modal-search-box">
                    <input type="text" id="searchField" class="search-field"
                        placeholder="Destination, Agency, Country">
                    <button id="closeSearch" class="close-search-btn">
                        <kbd class="light-text"> ESC </kbd>
                    </button>
                </div>
            </div>
            <div class="body-section">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="listing">
                            <li>
                                <h4 class="search-label">Recent</h4>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-1.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Dubai by Night City Tour with Fountain show
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Wonderful evening escapade starting at Madinat
                                                Jumeirah to the musical fountains to see another.
                                                Wonderful evening escapade starting at Madinat
                                                Jumeirah to the musical fountains to see another
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-2.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Dubai: Premium Red Dunes, Camels, Stargazing & 5*
                                                BBQ at Al Khayma Camp™️
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Give a great end to your day in Dubai with our
                                                premium evening Red Dune Desert Safari. Give a great
                                                end to your day in Dubai with our premium evening
                                                Red Dune Desert Safari.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-3.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Admission to Global Village in Dubai
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Admission to Dubai’s biggest, multicultural festival
                                                park with replicas of iconic landmarks. Admission to
                                                Dubai’s biggest, multicultural festival park with
                                                replicas of iconic landmarks
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <h4 class="search-label">Recent</h4>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-1.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Dubai by Night City Tour with Fountain show
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Wonderful evening escapade starting at Madinat
                                                Jumeirah to the musical fountains to see another.
                                                Wonderful evening escapade starting at Madinat
                                                Jumeirah to the musical fountains to see another
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-2.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Dubai: Premium Red Dunes, Camels, Stargazing & 5*
                                                BBQ at Al Khayma Camp™️
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Give a great end to your day in Dubai with our
                                                premium evening Red Dune Desert Safari. Give a great
                                                end to your day in Dubai with our premium evening
                                                Red Dune Desert Safari.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-list">
                                <a href="details-with-slider.html">
                                    <div class="search-flex">
                                        <div class="content-img">
                                            <img src="{% static 'images/gallery/search-img-3.jpeg' %}" alt="travello">
                                        </div>
                                        <div class="content">
                                            <h4 class="title line-clamp-1">
                                                Admission to Global Village in Dubai
                                            </h4>
                                            <p class="pera line-clamp-2">
                                                Admission to Dubai’s biggest, multicultural festival
                                                park with replicas of iconic landmarks. Admission to
                                                Dubai’s biggest, multicultural festival park with
                                                replicas of iconic landmarks
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="right-section" id="filterMenu">
                            <h4 class="title">Filter Options</h4>
                            <!-- List of Filter -->
                            <ul class="listing">
                                <li>
                                    <h4 class="search-label">Post Type</h4>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Posts (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Posts (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Links (44)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Blogs (23)</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- List of Filter -->
                            <ul class="listing">
                                <li>
                                    <h4 class="search-label">Categories</h4>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Articles (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Poll (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Article (44)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Blogs (23)</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- List of Filter -->
                            <ul class="listing">
                                <li>
                                    <h4 class="search-label">Travel</h4>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Articles (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Poll (3)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Article (44)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list">
                                    <div class="d-flex align-items-center gap-8">
                                        <label class="checkbox-label">
                                            <input class="checkbox-style" type="checkbox" value="remember"
                                                name="remember">
                                            <span class="checkmark-style"></span>
                                        </label>
                                        <div class="content">
                                            <p class="pera">Blogs (23)</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="div">
                        <div class="filter_menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / End-Search -->
    </header>
    <main>
        <!-- Hero area S t a r t-->
        <section class="hero-padding-for-three video-overlay position-relative">
            <!-- Video -->
            <div class="hero-bg-video">
                <video class="hero-slider-video video-cover" 
                    poster="{% static 'images/hero/hero-three-banner.png' %}" loop autoplay muted>
                    <source src="{% static 'images/videos/travel1.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-between g-4">
                    <div class="col-xl-12">
                        <div class="hero-caption-three position-relative z-3">
                            <h1 class="logo-title">
                                <span class="light-text">Tang</span><span class="gradient-text">oo</span><span class="light-text">ar</span><span class="light-text">.com</span>
                            </h1>
                            <style>
                                .logo-title {
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 800;
                                    font-size: 88px;
                                    line-height: 1;
                                    letter-spacing: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 0;
                                    padding: 0;
                                }
                                
                                .gray-text {
                                    color: #999999;
                                }
                                
                                .light-text {
                                    color: #e5e5e5;
                                }
                                
                                .gradient-text {
                                    background: linear-gradient(to right, #ffa500, #ff4500); /* Orange to reddish-orange */
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    font-weight: 800;
                                }                                
                            </style>
                            <p class="pera wow fadeInUp" data-wow-delay="0.0s">
                                "Discover Tangooar Haor’s Hidden Wonders – Your Journey Begins Here!"
                            </p>
                            <p class="pera wow fadeInUp" data-wow-delay="0.1s">
                                Get ready to explore the beautiful waters of Tanguar Haor. Whether you're here to enjoy the calm, see amazing wildlife, or take an exciting trip, we’re here to make sure you have a great time. Our boats are ready to take you on a peaceful ride through stunning nature. Book your trip today and start your adventure!
                            </p>
                        </div>
                        <div class="hero-footer position-relative z-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="all-user">
                                <div class="happy-user">
                                    <img src="{% static 'images/hero/user-1.jpeg' %}" alt="travello">
                                </div>
                                <div class="happy-user">
                                    <img src="{% static 'images/hero/user-2.png' %}" alt="travello">
                                </div>
                                <div class="happy-user">
                                    <img src="{% static 'images/hero/user-3.png' %}" alt="travello">
                                </div>
                                <div class="happy-user">
                                    <img src="{% static 'images/hero/user-4.jpeg' %}" alt="travello">
                                </div>
                                <div class="happy-user-count">
                                    <p class="user-count">5k+</p>
                                </div>
                                <p class="pera">Happy Customer</p>
                                <span class="wave-emoji">
                                    <img src="{% static 'images/icon/hand.png' %}" alt="travello">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Call-to-Action -->
        <section style="background-color: #2F333A; padding-top: 30px; padding-bottom: 50px; margin-top: 20px; margin-bottom: 50px;">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                        <div class="text-center">
                            <p style="font-size: 18px; color: white;" class="pera">Explore our website to find the perfect boat for your trip, check availability, and book in just a few clicks. Let us guide you through the wonders of Tanguar Haor – your adventure starts here!</p>
                            <br>
                            <p style="font-size: 18px; color: white;" class="pera">We offer a selection of renowned boats, providing you with the best services to explore the stunning Tanguar Haor. Whether you're looking for affordable options, mid-range comfort, or premium experiences, our fleet includes houseboats, semi-houseboats, and traditional boats to match your needs.</p>
                            <br>
                            <p style="font-size: 18px; color: white;" class="pera">Choose to book a private cabin as part of a package, or reserve an entire boat for your group or team. Explore our full range of boats and start planning your perfect trip today!</p>
                        </div>
                </div>
            </div>
        </section>
        <!--/ End-of Hero-->

        <!-- Plan area S t a r t -->
        <section class="plan-area-three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </section>
        <!--/ End-of Plan-->

        <!-- Packages S t a r t -->
        <section class="package-area section-padding2">
            <div class="container">
                <h6 style="font-size: 24px; font-weight: bold; margin: 18px 0;">Featured Boats</h6>
                <div class="row">
                    <div class="col-lg-12">


                        <div class="row g-4">
                            {% for boat in boats|slice:":6" %}
                            <div class="col-xl-4 col-lg-4 col-sm-6">
                                <div class="transports-card">
                                    <div class="transports-img imgEffect4">
                                        <a href="{% url 'boat_details' boat.id %}">
                                            {% if boat.photos %}
                                            <img src="{{ boat.photos.url }}" alt="{{ boat.name }}">
                                            {% else %}
                                            <img src="{% static 'assets/images/default-boat.png' %}" alt="{{ boat.name }}">
                                            {% endif %}
                                        </a>
                                        {% comment %} <div class="rating-badge-car">
                                            <div class="rating">
                                                <i class="ri-star-s-fill"></i>
                                                <p class="pera">5 (20 Reviews)</p>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="transports-content">
                                        <h4 class="area-name">
                                            <a href="{% url 'boat_details' boat.id %}">{{ boat.name }}</a>
                                        </h4>
                                        <div class="location">
                                            <i class="ri-map-pin-line"></i>
                                            <div class="name text-capitalize">Owned by {{ boat.owner_profile.company_name }}</div>
                                        </div>
                                        <div class="transports-person">
                                            <div class="count">
                                                <div class="icon text-primary">
                                                    <i class="ri-ruler-2-line"></i>
                                                </div>
                                                <p class="pera">{{ boat.length|default:'N/A' }} ft</p>
                                            </div>
                                            <div class="count">
                                                <div class="icon text-primary">
                                                    <i class="ri-ship-line"></i>
                                                </div>
                                                <p class="pera text-capitalize">{{ boat.type }}</p>
                                            </div>
                                            <div class="count">
                                                <div class="icon text-primary">
                                                    <i class="ri-home-line"></i>
                                                </div>
                                                <p class="pera text-capitalize">{{ boat.cabin_quantity }} Cabins</p>
                                            </div>
                                        </div>
                                        <div class="cart-footer d-flex flex-wrap justify-content-between">
                                            <div class="d-flex gap-6 align-items-center">
                                                <p class="pera">৳{{ boat.price }}</p>
                                                <p class="sub-pera text-12 text-capitalize">/trip</p>
                                            </div>
                                            <a href="{% url 'boat_details' boat.id %}" class="browse-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>No boats available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-button d-inline-block">
                            <a href="tour-list.html">
                                <div class="btn-primary-icon-sm">
                                    <a href="{% url 'boat_list' %}" class="pera">View All Boats</a>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main> 

    <!-- Footer S t a r t -->
    <footer>
        <div class="footer-wrapper footer-bg">
            <div class="container">
                <div class="footer-area">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="single-footer-caption">
                                <div class="footer-tittle">
                                    <h4 class="title">Company</h4>
                                    <ul class="listing">
                                        <li class="single-lsit">
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li class="single-lsit">
                                            <a href="news.html">News</a>
                                        </li>
                                        <li class="single-lsit"><a href="faq.html">Faq</a></li>
                                        <li class="single-lsit">
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="single-footer-caption">
                                <div class="footer-tittle">
                                    <h4 class="title">Explore</h4>
                                    <ul class="listing">
                                        <li class="single-lsit"><a href="faq.html">Faq</a></li>
                                        <li class="single-lsit">
                                            <a href="tour-list.html">Tour Listings</a>
                                        </li>
                                        <li class="single-lsit">
                                            <a href="destination.html">Destination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="single-footer-caption">
                                <div class="footer-tittle">
                                    <h4 class="title">Quick Links</h4>
                                    <ul class="listing">
                                        <li class="single-lsit"><a href="index.html">Home</a></li>
                                        <li class="single-lsit">
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li class="single-lsit">
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="single-footer-caption">
                                <div class="footer-tittle">
                                    <h4 class="title">Contact</h4>
                                    <ul class="listing">
                                        <li class="single-lsit">
                                            <a href="index.html#" class="mb-20 d-block">70/A Floor Divo Tower Melbourne,
                                                Australia</a>
                                        </li>
                                        <li class="single-lsit">
                                            <a href="index.html#">
                                                <div class="d-flex gap-12">
                                                    <i class="ri-phone-line"></i> (00) +888 123456 789
                                                </div>
                                            </a>
                                        </li>
                                        <li class="single-lsit">
                                            <a href="index.html#">
                                                <div class="d-flex gap-12">
                                                    <i class="ri-mail-line"></i> example@gmail.com
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle-area">
                    <div class="footer-body">
                        <div class="footer-content">
                            <div class="d-flex flex-column gap-20">
                                <div class="logo">
                                    <img src="assets/images/logo/logo_.png" alt="travello" class="changeLogo">
                                </div>
                                <p class="pera">
                                    Travel is a transformative and enriching experience that
                                    allows individuals to explore new destinations, cultures,
                                    and landscapes.
                                </p>
                            </div>
                            <div class="footer-right">
                                <h4 class="title">Subscribe Our Newsletter</h4>
                                <div class="subscribe-wraper">
                                    <input class="footer-search" type="search" name="footer"
                                        placeholder="Enter Your Email">
                                    <button class="subscribe-btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <ul class="listing">
                            <li class="single-list">
                                <a href="terms-condition.html" class="single">Terms of usa</a>
                            </li>
                            <li class="single-list">
                                <a href="privacy-policy.html" class="single">Privacy and Cookies Statement</a>
                            </li>
                            <li class="single-list">
                                <a href="contact.html" class="single">How the site works</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between gap-14 flex-wrap">
                                <p class="pera">
                                    © <span class="current-year">2025</span> initTheme. All rights
                                    reserved
                                </p>
                                <p class="pera">Powered by @Travello</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ End-of Footer -->

    <!-- Scroll Up  -->
    <div class="progressParent" id="back-top">
        <svg class="backCircle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Add an search-overlay element -->
    <div class="search-overlay"></div>
    <!-- jquery-->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-5.3.0.min.js' %}"></script>
    <!-- Plugin -->
    <script src="{% static 'assets/js/plugin.js' %}"></script>
    <!-- Main js-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
{% endblock %}

